#arrow {
    width: 30px;
}

main {
    display: flex;
    align-items: center;
    background: linear-gradient(to bottom, rgb(193, 193, 193), transparent);
}

header {
    margin-left: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    
    p {
        font-size: 20px;
        padding: 5px;
        margin-left: 10px;
    }
}

h1 {
    font-size: 30px;
    margin-left: 20px; 
    margin-top: 50px;
    width: auto;
}

main {
    display: flex;
    flex-direction: column;
}

.profile {
    display: flex;
}

#userlogo {
    border-radius: 100%;
    width: 110px;
    margin: 20px;
}

.usertext {
    padding: 20px;
    p {
        padding: 5px;
    }
}

#username {
    font-weight: bold;
    font-size: 20px;
}

#accountsettingsbutton {
    border-radius: 5px;
    color: white;
    background-color: gray;
    margin-top: 5px;
}
#accountsettingsbutton:hover {
    cursor: pointer;
    background-color: rgb(168, 168, 168);
}

#accountsettingsicon {
    width: 15px;
    margin-left: 10px;
}

@media (min-width: 900px) {
  .profile {
    display: flex;
    align-items: center;
  }

  .usertext {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 30px;
    align-items: center;
  }

  #username {
    grid-column: 1;
    grid-row: 1;
  }

  #userdescription {
    grid-column: 1;
    grid-row: 2;
  }

  #accountsettingsbutton {
    grid-column: 2;
    grid-row: 1 / span 2;
    margin-top: 0;
  }
}