* {
    font-family: 'Segoe UI', Verdana, sans-serif;
    background-color: #FEF7FF;
}

h1 { font-size: 4rem; }
h2 { font-size: 3rem; }
h3 { font-size: 2rem; }

button {
    padding: 0.5rem;
}

em {
    font-weight: bold;
}

p {
    font-size: 0.75rem;
}

footer {
    margin-top: 4rem;
    margin-bottom: 1rem;
    text-align: center;
}