@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --main-text-color: #143642;
  --main-bg-color: #F0E2E7;
  --secondary-bg-color: #D9D9D9;
  --main-btn-bg-color: #90E0EF;
  --main-btn-border-color: #00B4D8;
}

* {
  font-family: 'Work Sans', 'Segoe UI', Verdana, sans-serif;
}

body {
  background-color: var(--main-bg-color);
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 0.75rem;
}

em {
  font-weight: bold;
}

button {
  padding: 0.5rem;
}