@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --main-text-color: #000000;
  --main-bg-color: #F2F3F4;
  --secondary-bg-color: #DCDCDC;
  --secondary-bg-hl-color: #CCCCCC;
  --main-btn-bg-color: #A5A5A5;
  --main-btn-border-color: #010000;
}

* {
  font-family: 'Work Sans', 'Segoe UI', Verdana, sans-serif;
  color: var(--main-text-color);
}

body {
  background-color: var(--main-bg-color);
}

h1 {
  font-size: 4rem;
  font-weight: bold;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 12px;
}

em {
  font-weight: bold;
}

button {
  cursor: pointer;
}

/* Default width for icons */
img {
  width: 24px;
}