@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --main-text-color: #000000;
    --main-bg-color: #E7E7E7;
    --secondary-bg-color: #CFCFCF;
    --main-btn-bg-color: #2EE8C3;
    --main-btn-border-color: #30C7A0;
}

* {
    font-family: 'Work Sans', 'Segoe UI', Verdana, sans-serif;
    background-color: var(--main-bg-color);
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

main{
    margin-bottom: 100px;
}

h1 { font-size: 4rem; }
h2 { font-size: 3rem; }
h3 { font-size: 2rem; }

button {
    padding: 0.5rem;
}

em {
    font-weight: bold;
}

p {
    font-size: 0.75rem;
}

footer{
  background-color: rgb(234, 234, 234);
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}
footer ul{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
footer ul li{
  grid-template-rows: 20px 30px;
}
.footerIcons{
  height: 25px;
}