

header {
  margin: 2rem;
  text-align: center;
}

section h3 {
  margin: 2rem;
}

img {
  width: 24px;
}

/* SEARCH BAR */
.search-bar {
  margin: 2rem 4rem;
  background-color: var(--container-color);
  padding: 8px;
  border-radius: 8px;
}

.search-buttons {
  display: flex;
}

.search-buttons input {
  width: 0;
  flex: 1;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
}

.search-buttons button {
  margin: auto 1rem;
}

.sort-buttons {
  display: none;
  margin: 8px;
  gap: 8px;
  flex-wrap: wrap;
  flex-direction: column;
}

.sort-buttons button {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  background-color: var(--button-color);
  border-radius: 6px;
  gap: 4px;
}

.sort-buttons button:hover {
  background-color: var(--button-highlight-color);
}

.sort-buttons img {
  width: 1rem;
}

.sort-buttons * {
  justify-content: space-between;
}

/* ALL LISTS */
#list-friends {
  border-radius: 8px;
  gap: 2rem;
}

#list-friends li {
  cursor: pointer;
}

#list-friends li:hover img {
  background-color: var(--container-color);
}

#list-friends img {
  min-width: 4rem;
  border-radius: 50%;
  background-color: var(--background-color);
}

#list-favorites {
  gap: 1rem;
}

#list-friends,
#list-favorites {
  display: flex;
  margin: auto 4rem;
  text-align: center;
  flex-wrap: nowrap;
  overflow-x: auto;
  scrollbar-width: none;
}

#list-games {
  display: flex;
  margin: 1rem 0;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  gap: 1rem;
}

.game-cards * {
  display: block;
}

.game-cards li {
  background-color: var(--container-color);
  border: 4px solid var(--container-color);
  border-radius: 8px;
}

.game-cards li a {
  width: 200px;
  height: fit-content;
  padding: 1rem;
}

.game-cards li:hover {
  border-color: var(--container-highlight-color);
  animation: grow 0.2s forwards;
}

@keyframes grow {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.05);
    }
  }

.game-cards img {
  width: 100%;
  object-fit: contain;
  margin-bottom: 8px;
}

.game-cards em,
.game-cards p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#list-games li {
    position: relative;
    overflow: hidden;
    list-style: none;
}

#list-games li::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100%;
    background: linear-gradient(
        to right, 
        rgba(255, 255, 255, 0) 0%, 
        rgba(255, 255, 255, 0.3) 50%, 
        rgba(255, 255, 255, 0) 100%
    );
    transform: skewX(-25deg);
    transition: none;
    pointer-events: none;
}

#list-games li:hover::before {
    left: 150%;
    transition: left 0.6s ease-in-out;
}

@media (min-width: 600px) {
  .sort-buttons {
    flex-direction: row;
  } 
}