header {
  margin: 2rem;
  text-align: center;
}

/* Default width for icons */
img {
  width: 24px;
}

.nav-buttons {
  display: flex;
  justify-content: space-between;
}

.nav-buttons img {
  width: 28px;
}

h1 {
  margin: 2rem;
}

h3 {
  margin: 2rem;
}

#list-friends {
  display: flex;
  margin: auto 4rem;
  overflow-x: auto;
  justify-content: flex-start;
  text-align: center;
  gap: 2rem;
  border-radius: 8px;
  scrollbar-width: none;
}

#list-friends img {
  min-width: 5rem;
  border-radius: 50%;
  background-color: var(--secondary-bg-color);
}

#list-friends li {
  cursor: pointer;
}

#list-friends li:hover img {
  background-color: var(--secondary-bg-hl-color);
}

.search-bar {
  margin: 2rem 4rem;
  justify-content: flex-start;
  background-color: var(--secondary-bg-color);
  border: 8px solid var(--secondary-bg-color);
  border-radius: 8px;
  
}

.search-options {
  display: flex;
}

.search-options input {
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  flex: 1;
}

.search-options button {
  margin: auto 1rem;
}

.sort-options {
  display: none;
  margin: 8px;
  gap: 1rem;
}

.sort-options button {
  display: flex;
  align-items: center;
  padding: 4px 8px;
  border-radius: 6px;
  background-color: var(--main-btn-bg-color);
  gap: 4px;
}

.sort-options button:hover {
  background-color: var(--main-btn-bg-hl-color);
}

.sort-options img {
  margin: auto;
  width: 1rem;
}

.list-games {
  display: flex;
  margin: 1rem 0;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.list-games * {
  display: block;
}

.list-games li {
  width: 200px;
  height: fit-content;
  padding: 1rem;
  background-color: var(--secondary-bg-color);
  border: 4px solid var(--secondary-bg-color);
  border-radius: 8px;
  flex-shrink: 0;
}

.list-games li:hover {
  border: 4px solid var(--secondary-bg-hl-color);
}

.list-games img {
  width: 100%;
  object-fit: contain;
  margin-bottom: 8px;
}

.list-games em,p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#list-favorites {
  margin: auto 4rem;
  justify-content: flex-start;
  flex-wrap: nowrap;
  overflow-x: auto;
  scrollbar-width: none;
}

footer {
  margin: 4rem auto 1rem;
  text-align: center;
}

.menu {
  display: none;
  top: 0;
  left: 0;
  position: fixed;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  background-color: var(--secondary-bg-hl-color);
}

.menu button {
  display: flex;
  width: fit-content;
  align-self: flex-end;
  padding: 2rem;
}

.menu a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-btn-bg-color);
  padding: 1rem;
  margin: 8px 1rem;
  cursor: pointer;
  border-radius: 8px;
  gap: 8px;
}

.menu a:hover {
  background-color: var(--main-btn-bg-hl-color);
}

@media (min-width: 600px) {
  .menu {
    width: 300px;
  }
}