header {
    text-align: center;
}

h1 {
    font-weight: bold;
    margin: 2rem;
}

.sign-options {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.sign-options button {
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 0.8rem;
}

.sign-options button:hover {
    background-color: whitesmoke;
}

#search-form {
    display: flex;
    padding: 1rem;
    gap: 0.5rem;
}

#search-form img {
    width: 2rem;
}

#search-game {
    padding: 0.5rem;
    border-radius: 0.2rem;
}

#game-list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1rem;
}

#game-list li {
    width: 150px;
}

#game-list img {
    width: 300px;
    object-fit: contain;
}

#game-list em,p {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}