h2 {
  margin: 4rem;
  text-align: center;
}

#go-back {
  margin: 2rem;
  width: fit-content;
  padding: 0.5rem;
  background-color: var(--secondary-bg-color);
  border-radius: 1rem;
}

#arrow {
  width: 1.5rem;
  cursor: pointer;
  background-color: var(--secondary-bg-color);
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

div img {
  max-width: 200px;
  max-height: 200px;
  border-radius: 1rem;
}

div ul {
  margin: auto;
  padding: 2rem;
}

div li {
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
}

div li, em {
  background-color: var(--secondary-bg-color);
}

@media (min-width: 900px) {
  h2 {
    text-align: left;
  }

  div {
    flex-direction: row;
  }
}