h2 {
  margin: 4rem;
}

#arrow {
  margin: 2rem;
  width: 1.5rem;
  cursor: pointer;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

div img {
  margin-left: 8rem;
  margin-right: 4rem;
  width: 400px;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}

div ul {
  padding: 2rem;
}

div li {
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 1rem;
}

div li, em {
  background-color: var(--secondary-bg-color);
}

@media (min-width: 900px) {
  div {
    flex-direction: row;
    align-items: center;
  }
}