* {
    background-color: #FEF7FF;
    margin: 10px;
}

body {
    display:flex;
    flex-direction: column;
}

#arrow:hover {
    cursor: pointer;
}

main {
    text-align: center;
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    min-height: 100%;
    gap:10px;
    padding-top: 50px;
}

img {
    width: 30px;
}

h1 {
    font-weight: bold;
}

#forgotpassword {
    color: gray;
}

#forgotpassword:hover {
    color: rgb(167, 167, 167);
    cursor: pointer;
}

form {
    width: 350px;
    text-align: left;
    display:flex;
    flex-direction: column;
}

button {
    cursor: pointer;
    width: 350px;
    text-align: center;
    padding: 10px;
}

#loginbutton {
    background-color: rgb(207, 207, 207);
    border-radius: 10px;
    border: 1px solid rgb(41, 41, 41);
}

#loginbutton:hover {
    background-color: rgb(193, 193, 193);
    color: rgb(0, 0, 0);
}

:placeholder-shown {
    text-align: left;
    color: rgb(176, 176, 176);
}

#signupbutton {
    color: white;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
}

#signupbutton:hover {
    background-color: rgb(52, 52, 52);
    color: rgb(217, 217, 217);
}

input {
    padding: 10px;
    border: 1px solid rgb(113, 113, 113);
    border-radius: 10px;
    background-color: white;
}