h2 {
  margin: 4rem;
  text-align: center;
}

#go-back {
  margin-top: 100px;
  margin-left: 2rem;
  width: fit-content;
}

#go-back button {
  display: inline-block;
}

#go-back img {
  display: block;
}

#arrow {
  position: relative;
  margin-left: -10px;
  width: 40px;
  cursor: pointer;
}

.infopage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: top;
}

.info-cover {
  display: flex;
  height: fit-content;
  flex-direction: column;
  margin: 1rem auto;
  width: fit-content;
  padding: 1rem;
  background-color: var(--container-color);
  border-radius: 8px;
  gap: 1rem;
  text-align: center;
}

.info-cover img {
  width: 500px;
  max-width: 500px;
  object-fit: cover;
}

.info-cover button {
  background-color: var(--button-color);
  padding: 8px;
  border-radius: 4px;
}

.info-cover button:hover {
  background-color: var(--button-highlight-color);
}

.info-cover button.favorite {
  background-color: var(--favorite-color);
}

.info-cover button.favorite:hover {
  background-color: var(--favorite-highlight-color);
}

.info-list {
  margin: auto 1rem;
  background-color: var(--background-color);
}

.info-list li {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem;
  background-color: var(--container-highlight-color);
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
  border-radius: 8px;
}

.info-list li,
.info-list em {
  background-color: var(--container-color);
}

.info-list em {
  margin-bottom: 8px;
}

#btn-favorite {
  padding: 1rem;
  border-radius: 8px;
  background-color: var(--button-color);
  transition: 0.2s ease;
}

#btn-favorite:hover {
  background-color: var(--button-highlight-color);
}

.favorite-active {
  background-color: #3a3a3a;
  color: white;
}

.favorite-active:hover {
  background-color: #222;
}

@media (min-width: 900px) {
  h2 {
    text-align: left;
  }

  .infopage {
    flex-direction: row;
  }

  .info-cover {
    margin-left: 4rem;
  }

  .info-list {
    margin: auto 4rem;
    width: 900px;
  }

  #arrow {
    position: fixed;
    margin-left: -10px;
    width: 24px;
    cursor: pointer;
  }
}
